.App {
  text-align: center;
}

.pile {
  margin: auto;
  width: 50vh;
  height: 70vh;
  margin-top: 10vh;
}

@media screen and (max-width: 39.9375em) {
  .pile {
    width: 40vh;
    height: 56vh;
  }
}

.card-count {
  position: fixed;
  top: 5px;
  left: 5px;
}

.card, .noCards {
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 2.1vh;
  -webkit-box-shadow: 4px 4px 36px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 36px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 36px 0px rgba(0,0,0,0.75);
}

.noCards {
  border: 0.2em dashed grey;
}

.btn {
  height: 3em;
  background: transparent;
  border:  0.2em solid;
  margin: 1em;
  border-radius: 1em;
  outline-offset: 10px;
  outline-color: grey;
}

.btn:active {
  -webkit-box-shadow: inset 4px 4px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 4px 4px 10px 0px rgba(0,0,0,0.75);
  box-shadow: inset 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.play-card {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}
