.App {
  text-align: center;
}

.pile, .card {
  margin: auto;
  width: 50vh;
  height: 70vh;
}

.pile, #cards {
  margin-top: 10vh;
}

.card {
  position: absolute;
  background-color: white;
}

@media screen and (max-width: 39.9375em) {
  .pile, .card {
    width: 40vh;
    height: 56vh;
  }
}

.card-count {
  position: fixed;
  top: 5px;
  left: 5px;
}

.playing-card, .noCards, #cards {
  width: 100%;
  height: 100%;
}

.playing-card, .card {
  border: solid 0.3em;
  border-radius: 4vh;
  -webkit-box-shadow: 4px 4px 36px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 36px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 36px 0px rgba(0,0,0,0.75);
}

.noCards {
  border: 0.2em dashed grey;
}

.btn {
  height: 3em;
  background: transparent;
  border:  0.2em solid;
  margin: 1em;
  border-radius: 1em;
  outline-offset: 10px;
  outline-color: grey;
}

.face-down {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('/cards/rb.svg');
}

.btn:active {
  -webkit-box-shadow: inset 4px 4px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 4px 4px 10px 0px rgba(0,0,0,0.75);
  box-shadow: inset 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.play-card {
  width: 100%;
  height: 100%;
  margin: 0;
}
